

<header class='header '>
	<a href="#test">
		{{> logo}}
	</a>

	<nav class='header-nav'>
		<div class="header-nav1-right">
			{{> nav1 list=header }}
		</div>
	</nav>
</header>

{{#with hero}}
	<div class="hero-container">
		<div class="hero">
			<div class="hero-content">
				<h1 class="hero-title">{{title}}</h1>
				<p class="hero-text">{{text}}</p>
			</div>
			<div class="hero-slider">
				<div class="hero-slider-icon hero-slider-left">{{left}}</div>
				<img src="{{photo}}" alt="Hero image" class="hero-image">
				<div class="hero-slider-icon hero-slider-right">{{right}}</div>
			</div>
		</div>
	</div>
{{/with}}

{{!-- <input type="text" class="input"> --}}

{{!-- <div class="modal">
	{{hero.text}} {{hero.text}}	
	<img src="{{hero.photo}}" alt="Hero image" class="modal-image">
	<div class="modal-text">{{hero.text}} {{hero.text}}</div>	
	
</div> --}}

<main class="blog">
	{{#each blog}}
		{{> cardBlog data=this}}
	{{/each}}
</main>

<main class="blog">
	{{#each blog}}
		{{> cardBlog data=this}}
	{{/each}}
</main>

<main class="blog">
	{{#each blog}}
		{{> cardBlog data=this}}
	{{/each}}
</main>

{{#with form}}
	<div class="form">
		<div class="form-content">
			<h3 class="form-title">{{title}}</h3>
			<p class="form-info">{{info}}<span class="ex">x</span></p>
		</div>
		<div class="form-action">
			<a href="{{href}}" class="button form-button">{{button}}</a>
		</div>
	</div>
{{/with}}

<footer class="page-block">
	<div class="footer" id="test">
		<div>
			{{> logo}}
			<span class="footer-copyright">Copyright 2023-2024</span>
		</div>

		{{#each footer}}
		<div>
			<span class="footer-title">{{title}}</span>
			{{> nav1 list=links isVertical=true}}
		</div>
		{{/each}}
	</div>
</footer>

<div class="test">Test</div>
	

