{{#with data}}
  <div class='preview'>
    <div class='preview-header'>
      <span class='preview-data'>{{date}}</span>

      {{#each category}}
        <span
          class='preview-category preview-category-{{id}}'
        >{{text}}</span>

      {{/each}}

    </div>

    <strong class='preview-title'>{{title}}</strong>

    <p class='preview-description'>
      {{text}}
    </p>

    <a href='#'>Continue reading</a>
  </div>
{{/with}}